In [ ]:
# Exercise 1 : Creating a python notebook and saved as "DataScienceEcosystem"

In [ ]:
#Exercise 2 : Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction

<p>In this notebook, Data Science Tools and Ecosystem are summarized.We will learn lot of different syntax in the jupyter notebook</p>

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. C++
3. Java

In [1]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|-------------------|
|RStudio|
|TensorFlow|
|Apache Spark|

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- How to get a useful insights from structured or unstructured or unorganised data
- Using various tools in Data science field
- Data cleaning process helps us to remove the unwanted data and eliminate the missing data or replace it with appropriate
- Using Data Visualisation which gives you pictorial insights easy to understand
- Various languages used such as Python, Java, C++, R etc..

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Anesha Nagarajan